img {
  width: 500px;
  height: 600px;
  float: center;
}

body {
  background-image: url(https://res.cloudinary.com/teepublic/image/private/s--J_A9HOTu--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1545274434/production/designs/3780544_0.jpg);
  text-shadow: darkblue;
}

.jumbotron {
  background-color: blueviolet;
  color: aqua;
  border-style: dotted;
}

label {
  color: rgb(255, 69, 1);
}

#output {
  color: green;
  border: 5px solid green;
  text-align: center;
}